<!DOCTYPE html>
<html ng-app="ContactApp">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.min.js"></script>
    <meta charset="utf-8">
    <title>Exo 3</title>
    <script type="text/javascript" src="ContactApp.js"></script>
    <script type="text/javascript" src="ContactController.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body data-ng-controller="ContactController as ConCtrl">
<div class="panel panel-primary">
<div class="panel-heading">Contacts</div>
<div class="panel-body">
    <input type="text" placeholder="Filtrer...">
    <table class="table table-striped">
        <tbody><!-- ngRepeat: contact in contacts |NotDeletedFilter |filter:q as results -->
        <tr data-ng-repeat="contact in ConCtrl.contacts">
            <td >{{contact.nom}}</td>
            <td >{{contact.prenom}}</td>
            <td >{{contact.mail}}</td>
            <td>
                <a class="btn btn-info btn-xs" href="" data-ng-click="ConCtrl.toUpdate(contact)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>&nbsp;
                <a class="btn btn-danger btn-xs" href="" data-ng-click="ConCtrl.delete(contact)"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></a>
            </td></tr><!-- end ngRepeat: contact in contacts |NotDeletedFilter |filter:q as results -->
        <tr><td colspan="4">
            <a href="" data-ng-click="ConCtrl.toadd=1" class="btn btn-primary">Ajouter...</a>
            </a></td></tr>
        </tbody></table>
    <fieldset data-ng-show="ConCtrl.toadd==1" class="container form-group form-inline" style="">
        <legend class="ng-binding">{{ConCtrl.operation}} un contact</legend>
        <form name="frmContact" data-ng-submit="frmContact.$valid &amp;&amp; update()" novalidate="" class="ng-pristine ng-invalid ng-invalid-required ng-valid-email">
            <input class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" type="text" data-ng-model="ConCtrl.tmpContact.nom" placeholder="Entrez un nom..." required="" style="">
            <input class="form-control ng-pristine ng-untouched ng-valid" type="text" data-ng-model="ConCtrl.tmpContact.prenom" placeholder="Prénom...">
            <input class="form-control ng-pristine ng-untouched ng-valid-email ng-invalid ng-invalid-required" type="email" data-ng-model="ConCtrl.tmpContact.mail" placeholder="Adresse email..." required="">
            <input type="submit" value="Valider" class="btn btn-primary" data-ng-click="ConCtrl.update()">
            <input type="button" value="Annuler" data-ng-click="ConCtrl.toadd=0" class="btn btn-primary">
        </form>
    </fieldset>
</div>
</div>

</body>
</html>